<p-menubar id="header" class="p-menubar">
  <ng-template pTemplate="start">
    <div class="header-left">
      <a *ngFor="let sitem of startMenuItems" pRipple class="p-menubar-item-content p-menubar-item-link"
        [routerLink]="sitem.routerLink" [routerLinkActive]="['p-menuitem-link-active']"><span>{{ sitem.label }}</span>
      </a>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="header-right">
      <ng-container *ngFor="let eitem of endMenuItems">
        <a *ngIf="eitem.routerLink != null && eitem.visible" pRipple
          class="p-menubar-item-content p-menubar-item-link" [routerLink]="eitem.routerLink"
          [routerLinkActive]="['p-menuitem-link-active']">
          <span>{{ eitem.label }}</span>
        </a>
        <a pRipple
          class="p-menubar-item-content p-menubar-item-link" (click)="eitem.command({originalEvent: $event})"
          *ngIf="eitem.routerLink == null && eitem.command!= null && eitem.visible" 
          [routerLinkActive]="['p-menuitem-link-active']">
          <span>{{ eitem.label }}</span>
        </a>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>
<app-login [(displayLoginDialog)]="displayLoginDialog"
  (displayLoginDialogChange)="resetLoginRegisterVisible($event)"></app-login>
<app-registration [(displayRegisterDialog)]="displayRegisterDialog"
  (displayRegisterDialogChange)="resetLoginRegisterVisible($event)"></app-registration>