<p-dialog id="loginDialog" [(visible)]="displayLoginDialog" [modal]="true" (visibleChange)="displayLoginDialogChange.emit($event)" >
  <ng-template #header>
    <span class="font-bold text-xl">Login</span>
  </ng-template>
  <ng-template #content>
    <span>Fill in the details.</span>
    <div class="fieldgrid">
      <div class="field col mb-0">
        <div class="font-bold">Username</div>
        <div class="flex-auto">
          <input pInputText id="username" class="p-inputtext-sm" autocomplete="off" [(ngModel)]="username" />
        </div>
      </div>
      <div class="field col mb-0">
        <div class="font-bold">Password</div>
        <div class="flex-auto">
          <input type="password" pInputText id="password" class="p-inputtext-sm" autocomplete="off" [(ngModel)]="password" type="password" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="Cancel()" />
    <p-button label="Login" [outlined]="true" severity="secondary" (click)="loginUser()" />
  </ng-template>
</p-dialog>