<p-dialog id="registerDialog" [(visible)]="displayRegisterDialog" [modal]="true" (visibleChange)="displayRegisterDialogChange.emit($event)" >
  <ng-template #header>
    <span class="font-bold text-xl">Register</span>
  </ng-template>
  <ng-template #content>
    <span>Fill in the details.</span>
    <div class="fieldgrid">
      <div class="field col mb-0">
        <div class="font-bold">Username</div>
        <div class="flex-auto">
          <input pInputText id="username" class="p-inputtext-sm" autocomplete="off" [(ngModel)]="username" />
        </div>
      </div>
      <div class="field col mb-0">
        <div class="font-bold">Email</div>
        <div class="flex-auto">
          <input pInputText id="email" class="p-inputtext-sm" autocomplete="off" [(ngModel)]="email"  type="email" />
        </div>
      </div>
      <div class="field col mb-0">
        <div class="font-bold">Password</div>
        <div class="flex-auto">
          <input type="password" pInputText id="password" class="p-inputtext-sm" autocomplete="off" [(ngModel)]="password" type="password" />
        </div>
      </div>
    </div>
    <p-message severity="error" *ngIf="errormsg"  [text]="ErrorMessage"  icon="pi pi-times-circle" styleClass="mb-2" />
  </ng-template>
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="Cancel()" />
    <p-button label="Save" [outlined]="true" severity="secondary" (click)="registerUser()" />
  </ng-template>
</p-dialog>