footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  
  .left-footer p {
    margin: 0;
  }
  
  .right-footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .right-footer a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    padding: 10px;
  }
  
  .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-media a:hover {
    text-decoration: underline;
  }
  