<footer>
    <div class="footer-content">
      <div class="left-footer">
        <p>&copy; 2025 Your Company Name. All rights reserved.</p>
      </div>
      <div class="right-footer">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
        <a href="#">Help</a>
      </div>
    </div>
    <div class="social-media">
      <a href="#" target="_blank">Facebook</a>
      <a href="#" target="_blank">Twitter</a>
      <a href="#" target="_blank">LinkedIn</a>
    </div>
  </footer>
  <p-menubar>
    <ng-template pTemplate="start">
      </ng-template> 
      <ng-template pTemplate="end">
      </ng-template> 
  </p-menubar>
  